.director-container{
    display:grid;
    justify-content: center;
    align-content: center;
}

.description-container {
    display:grid;
    grid-template-rows: 100px 1fr;
}

.description-header {

}
.header-container{
    display:grid;
    justify-content: center;
    margin:10px;
}

.movie-info-container{

}

.search-title-movie-container{
    display:grid;
    grid-template-columns: 200px 1fr 1fr;
    height:500px;
}
.search-results-container{

}

.ratings-title{
    display: flex;
    justify-content: center;
}

.results-title{
    display:flex;
    justify-content: center;
}

.title-container{
    display:grid;
    justify-content: center;
    grid-template-rows: 100px 50px 100px;
}

.thumbs-container{
    display:flex;
    justify-content: center;
}

.recent-ratings-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}
