:root {
    --color-1: #8B2635;
    --color-2: #EBEBEB;
    --color-3: #93AFC8;

}

body {
    background-color: var(--color-1);

}
.combineDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.director-container{
    display:grid;
    justify-content: center;
    align-content: center;
}

.director-H2 {
    display:flex;
    justify-content: center;
}
.description-container {

}

.form1-class {
    display:flex;
    justify-content: center;
    padding-bottom: 1em;
}
.header-container{
    display:grid;
    justify-content: center;
    margin:10px;
    background-color: var(--color-3);
}

.movieTitle {
    margin: 5px;
}

.poster-container{
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.search-title-movie-container{
    display:grid;
    grid-template-columns: 200px 1fr;
    height: 82vh;
    background-color:var(--color-3);
}

.search-results-container {
    background-color: var(--color-3);
}

.search-list-results-container {
    display: grid;
    justify-items: center;
}
.ratings-title{
    display: flex;
    justify-content: center;
}

.release-year-container {
    display: grid;
    justify-content: center;
}
.release-year {
    justify-self: center;
}
.results-title{
    display:flex;
    justify-content: center;
}

.resultsH2-class {
    padding-left: 1em;
}

.title-container{
    display:grid;
    justify-content: center;
    grid-template-rows: 100px 50px 100px;
}

.thumbs-container{
    display:flex;
    justify-content: center;
}
